html {
	width : 100% ;
} body {
	display : flex ;
	flex-direction : column ;
	background-color : #EEEEEE ;
	width : 100% ;
	align-items : center ;
} header {
	width : 80% ;
	height : 100% ;
	border-radius : 2px ;
	display : flex ;
	justify-content : space-between ;
	background-color : black ;
	margin : 10px auto ;
	align-items : center ;
} ul {
	list-style-type : none ;
	padding : 0px ;
} #navandsearch {
	margin-right : 30px ;
	display : flex ;
	flex-direction : column ;
	align-items : flex-end ;
} form p {
	display : flex ;
	flew-wrap : no-wrap ;
} nav a {
	text-decoration : none ;  
	font-size : 1.5em ;
	color : #FFFFFF ;
} nav a:hover {
	color : #CCC ;
} .current {
	text-decoration : underline ;
} .contain_main {
	margin : 10px auto ;
	width : 80% ;
	height : 100% ;
	display : flex ;
	align-items : center ;
} .contain_main section {
	border : 1px solid black ;
	border-radius : 1px ;
	margin :0 180px 0 100px;
	padding : 10px ;
} .contain_main section p {
	text-align : justify ;
} #prefooter {
	margin : 10px auto ;
	width : 80% ;
	display : flex ;
	justify-content : space-around ;
} #prefooter div {
	background-color : #fff ;
	width : 30% ;
	border : 1px solid black ;
	border-radius : 1px ;
	margin : 20px 10px ;
	max-height : 100px ;
} #prefooter div p {
	text-align : center ;
} #logo {
	width : 30% ;
	height : 100px ;
	background : url('images/white_flame.png') no-repeat ;
	background-position : center ;
	background-size : contain ;
} label {
	align-self : center ;
	white-space : nowrap ;
	color : #fff ;
	margin : 5px ;
} footer {
	width : 80% ;
	display : flex ;
	justify-content : space-between ;
	width : 80% ;
	border-top : dotted 1px #000 ;
} #prefooter #blackground {
	background-color : #000 ;
	background-image : url('images/white_flame.png') ;
	background-repeat : no-repeat ;
	background-position : center ;
	background-size : contain ;
} footer div {
	display : flex ;
	flex-direction : column ;
} footer div h3, footer div ul {
	align-self : center ;
} form input {
	margin : 15px ;
} aside {
	width : 20% ;
	display : flex ;
	flex-direction : column ;
	justify-content : space-between ;
	align-items : flex-end ;
} #pic_1 img, #pic_2 img, #pic_3 img, #pic_4 img {
        width : 155px ;
        height : 155px ;
} #pic_1,#pic_2,#pic_3,#pic_4 {
	width : 155px ;
	height : 155px ;
	display : flex ;
	justify-content : flex-end ;
	border : solid 1px black ;
	margin : 5px 0 ;
} #pic_1 {
	background : url('images/aspi.jpg') no-repeat ;
	background-size : contain ;
        background-position : center ;
	background-color : #fff ;
} #pic_2 {
	background : url('images/manette.jpg') no-repeat ;
	background-size : contain ;
        background-position : center ;
	background-color : #fff ;
} #pic_3 {
	background : url('images/chaussures.jpg') no-repeat ;
	background-size : contain ;
        background-position : center ;
	background-color : #fff ;
} #pic_4 {
	background : url('images/chaise.jpg') no-repeat ;
	background-size : contain ;
        background-position : center ;
	background-color : #fff ;
} #main {
	width : 100% ;
	display : flex ;
	justify-content : space-around ;
} #hoursection {
	color : #fff ;
}
